img{
max-width: 100%
margin-left: auto;
margin-right: auto;
display: block;
}
#machuPicchu, #lasVegas, #badlands, #berlin, #spaceTime {
  display: none;
}
.results img {
  max-width: 650px;
}
.btn {
  color: #CDCDCD;
}
span {
  font-style: italic;
}
