img{
width: 100%;
display: block;
}
#machuPicchu, #lasVegas, #badlands, #berlin, #spaceTime {
  display: none;
}
.results img {
  max-width: 650px;
}
.btn {
  color: #CDCDCD;
}
span {
  font-style: italic;
}
body{
  background-color: #80aaff;
}
#machu-pic {
  float: left;
  padding: 25px;
}
#vegas-pic{
  float:left;
  padding: 25px;
}
#badlands-pic{
  float:left;
  padding: 30px;
}
#berlin-pic{
  float :left;
  padding: 25px;
}
#space-pic{
  float:left;
  padding :25px;
}
.machuPicchu p {
  padding-top: 50px;
}
.lasVegas p {
  padding-top: 60px;
}
.badlands p{
  padding-top: 70px;
}
.berlin p{
  padding: 50px;
}
.spaceTime p {
  padding: 50px;
}
