img{
max-width: 100%
margin-left: auto;
margin-right: auto;
display: block;
}
#flipp, #summer, #unity, #slippery, #morty {
  display: none;
}
.results img {
  max-width: 650px;
}
.btn {
  color: #CDCDCD;
}
